:root {
    --white: #ffffff;
    --black: #000000;
    --light-green: #70FF00;
    --green: #2FFD1E;
    --herbal: #7FC945;
    --main-header: #1C1D1B;
    --light-gray: #D8D8D8;
    --accent-light: rgba(161, 138, 104, 1);
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Regular.woff2') format('woff2'),
    url('../fonts/DMSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Italic.woff2') format('woff2'),
    url('../fonts/DMSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Medium.woff2') format('woff2'),
    url('../fonts/DMSans-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-MediumItalic.woff2') format('woff2'),
    url('../fonts/DMSans-MediumItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Bold.woff2') format('woff2'),
    url('../fonts/DMSans-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/DMSans-BoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}


body {
    box-sizing: border-box;

    font-family: 'DM Sans', sans-serif, Arial;
    font-size: 16px;
    line-height: 32px;

    background: var(--white);
}

img {
    padding: 0;
    margin: 0;
}

h1 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--black);
    font-weight: bold;
}

nav {
    padding: 0;
}

.container {
    padding: 0;
}

.main-header {
    color: var(--main-header);
    font-size: 35px;
    padding: 0;
    width: 230px;
}

.header-logo {
    width: 77px;
    height: 70px;
    padding: 0;
}

.navigation {
    padding: 0;
}

.navigation-list {
    border-bottom: 1px solid var(--light-gray);
}

.navigation-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    width: 99px;
}

.navigation-item:hover {
    background-color: rgba(112, 255, 0, 30%);
    border-bottom: 1px solid var(--light-green);
}

.navigation-item-link {
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
}

.social-media-item-bar {
    border-top: 1px solid var(--light-gray);
}

.social-media-item {
    font-size: 30px;
    line-height: 22px;
    color: var(--black);
}

.social-media-item-link {
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
}
.social-media-images {
    margin-top: -23px;
    margin-left: 63px;

}

.social-media-logo {
    width: 15px;
}
.all-rights {
    position: absolute;
    margin-top: 400px;
    margin-left: 600px;
}

.active {
    background-color: rgba(112, 255, 0, 30%);
    border-bottom: 1px solid var(--black);
}

.stock {
    background: rgba(47, 253, 30, 60%);
    border-bottom: 1px solid var(--black);
}
.swiper {
    width: 100%;
}

.swiper-content {
    position: relative;
    height: 646px;
}

.slide-image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.sile-content-text {
    position: relative;
    padding-top: 80px;
    padding-left: 32px;
    color: var(--white);
}

.slide-header {
    font-size: 33px;
}

.slide-price {
    font-size: 26px;
    margin-bottom: 33px;
}

.slide-button {
    font-size: 18px;
    font-weight: 700;
    padding: 14px 25px 14px 31px;
    color: var(--white);
    border: 1px solid var(--white);
}

.catalog {
    margin-top: 57px;
}

.catalog-headers {
    display: flex;
    justify-content: space-between;
}

.catalog-header {
    font-size: 33px;
}

.catalog-headers-link {
    font-size: 20px;
    color: var(--accent-light);
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-name, .product-price {
    font-size: 20px;
}

.product-price {
    color: var(--accent-light);
}

footer {
    display: flex;
    justify-content: space-between;
}

.map {
    display: flex;
}