:root {
    --white: #ffffff;
    --black: #000000;
    --light-green: #70FF00;
    --green: #2FFD1E;
    --herbal: #7FC945;
    --main-header: #1C1D1B;
    --light-gray: #D8D8D8;
    --accent-light: rgba(161, 138, 104, 1);
    --dark-gray: #707070;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Regular.woff2') format('woff2'),
    url('../fonts/DMSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Italic.woff2') format('woff2'),
    url('../fonts/DMSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Medium.woff2') format('woff2'),
    url('../fonts/DMSans-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-MediumItalic.woff2') format('woff2'),
    url('../fonts/DMSans-MediumItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Bold.woff2') format('woff2'),
    url('../fonts/DMSans-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/DMSans-BoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

.popup-fade {
    display: none;
}
.popup-fade:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}
.popup {
    position: fixed;
    top: 20%;
    /* left: 50%; */
    padding: 20px;
    width: 60%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin: auto; */
    left: 20%;
    right: 20%;
    background: #fff;
    border-radius: 4px;
    z-index: 99999;
    opacity: 1;
}
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.popup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.index-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

body {
    box-sizing: border-box;

    font-family: 'DM Sans', sans-serif, Arial;
    font-size: 16px;
    line-height: 32px;

    background: var(--white);
}

img {
    padding: 0;
    margin: 0;
}

h1 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--black);
    font-weight: bold;
}

nav {
    padding: 0;
}

.container {
    padding: 0;
}

.header-block {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.main-header {
    color: var(--main-header);
    font-size: 35px;
    padding: 0;
    width: 230px;
}

.header-logo {
    width: 77px;
    height: 70px;
    padding: 0;
}

.navigation {
    padding: 0;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-gray);
}

.navigation-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    width: 99px;
}

.navigation-item:hover {
    background-color: rgba(112, 255, 0, 30%);
    border-bottom: 1px solid var(--light-green);
}

.navigation-item-link {
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
}

#hamburger__toggle {
    display: none;
    opacity: 0;
    width: 26px;
    height: 26px;
    z-index: 99;
}

.hamburger__menu {
    display: none;
    position: relative;
    height: 20px;
    width: 26px;
}

#hamburger, #hamburger:after, #hamburger:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 26px;
    background-color: var(--black);
}

#hamburger:before {
    content: '';
    top: 8px;
}

#hamburger:after {
    content: '';
    width: 80%;
    right: 0;
    top: 16px;
}

.swiper-pagination-bullet-active {
    background-color: var(--white);
}

.swiper-pagination-bullet {
    border: 1px solid var(--white)
}


.social-media-item {
    font-size: 30px;
    line-height: 22px;
    color: var(--black);
}

.social-media-item-link {
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
}
.social-media-images {
    margin-top: -23px;
    margin-left: 63px;

}

.social-media-logo {
    width: 15px;
}

.social-media-item-bar{
    height: 100%;
}

.map {
    width: 990px;
    height: 380px;
}

.all-rights {
    text-align: center;
    width: 100%;
}

.active {
    background-color: rgba(112, 255, 0, 30%);
    border-bottom: 1px solid var(--black);
}

.stock {
    background: rgba(47, 253, 30, 60%);
    border-bottom: 1px solid var(--black);
}
.swiper {
    width: 100%;
}

.swiper-content {
    position: relative;
    height: 646px;
}

.slide-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sile-content-text {
    position: relative;
    padding-top: 80px;
    padding-left: 32px;
    color: var(--white);
}

.slide-header {
    font-size: 33px;
}

.slide-price {
    font-size: 26px;
    margin-bottom: 33px;
}

.slide-button {
    font-size: 18px;
    font-weight: 700;
    padding: 14px 25px 14px 31px;
    color: var(--white);
    border: 1px solid var(--white);
}

.catalog {
    margin-top: 57px;
}

.catalog-headers {
    display: flex;
    justify-content: space-between;
}

.catalog-header {
    font-size: 33px;
}

.catalog-headers-link {
    font-size: 20px;
    color: var(--accent-light);
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.size-cash-button {
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;
    color: var(--white);
    background-color: var(--herbal);
    font-weight: 700;
    margin: 30px auto 0;
    align-items: center;
}


.product-content {

}
.product-photo-big {
    flex-grow: 1;
    min-width: 0;
}

.product-photo-image-big {
    height: 600px;
    object-fit: cover;
    width: 100%;
}

.product-photo-image-small {
}

.product-info {
    color: var(--dark-gray);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
}

.product-article {
    font-size: 15px;
    color: gray;
}

.about-product {
    display: flex;
    height: 600px;
    flex-basis: 100%;
}

.product-photo {
    display: flex;
    height: 100%;
    flex-basis: 50%;
    min-width: 0;
}

.product-photo-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.product-photo-image {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.product-name, .product-price {
    font-size: 20px;
}

.product-image {
    object-fit: cover;
    width: 100%;
}

.product-price {
    color: var(--accent-light);
}

.catalog-in-product {
    padding: 10px;
    margin-top: 100px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid var(--light-gray);
}

.map {
    display: flex;
}

.advantages {
    margin-top: 65px;
}

.advantages-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0;
}

.advantages-item {
    width: 418px;
    height: 430px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.main-content {
    margin-top: 75px;
    margin-bottom: 75px;
}

.advantage-name {
    font-size: 20px;
    height: 64px;
    width: 285px;
}

.advantage-price {
    color: #A18A68;
    height: 64px;
    width: 285px;
}

.main {
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    flex-wrap: wrap;
}

.feedback-list {
    display: flex;
    flex-direction: column;
}

.feedback-form-header {
    line-height: 32px;
}

.feedback-about, .feedback-form {
    width: 50%;
}

.feedback-item:not(.feedback-item:last-child) {
    margin-bottom: 55px;
}

.feedback-item-header {
    font-size: 32px;
}

.feedback-item-data {
    margin-top: 20px;
    color: var(--dark-gray);
    font-size: 24px;
}

.feedback-form-item {
    border: none
}

.feedback-form {
    text-align: center;
}

.feedback-form-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feedback-form-page > input {
    width: 40%;
    height: 45px;
    border-bottom: 1px solid var(--light-gray);
    margin-bottom: 80px;
}

.feedback-form-item + .message {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
}

button.feedback-form-item {
    padding: 18px 142px;
    color: var(--white);
    background-color: var(--herbal);
    font-weight: 700;
    margin: 85px auto 0;
}

.about-header {
     margin: 0;
}

.about-text {
    margin-top: 22px;
    color: var(--dark-gray);
}

.about-history {
    margin-top: 60px;
}

.about-image {
    margin-top: 50px;
}

.about-history-image {
    float: right;
    margin-left: 36px;
    margin-bottom: 36px;
}

.about-history-text {
    color: var(--dark-gray);
}

.faq {
    margin-top: 106px;
}

.faq-head {
    text-align: center;
}

.faq-header {
    font-size: 40px;
}

.faq-description {
    color: #707070;
    font-size: 24px;
}

.faq-accordion-header {
    position: relative;
    cursor: pointer;
    padding-top: 14px;
    padding-bottom: 14px;
    border-top: 1px solid var(--light-gray);
    border-bottom: 1px solid var(--light-gray);
}

.faq-accordion-header:before, .faq-accordion-header:after {
    content: '';
    right: 0;
    top: 50%;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--black);
}

.faq-accordion-header:after {
    transform: rotate(90deg);
    transition: transform 0.3s linear;
}

.ui-accordion-header-active:after {
    transform: rotate(180deg);
    transition: transform 0.3s linear;
}

@media (max-width: 1200px) {
    .feedback-form-header, .feedback-item-header, .feedback-item-data {
        font-size: 12px;
        font-weight: bold;
    }

    .feedback-form-page {
        flex-direction: column;
        width: 100%;
    }

    .feedback-form-page > input {
        width: 100%;
        margin-bottom: 20px;
    }

    button.feedback-form-item {
        margin-top: 20px;
    }

    .feedback-item:not(.feedback-item:last-child) {
        margin-bottom: 20px;
    }

    .about-history {
        width: 100%;
    }

    .about-history-image {
        float: none;
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 767px) {
    #hamburger__toggle, .hamburger__menu {
        position: absolute;
        top: 2%;
        right: 5%;
        display: block;
    }

    .navigation-list {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        border: none;
        flex-direction: column;
        z-index: 2;
        top: 0;
        background-color: var(--white);
        right: -150%;
    }

    #hamburger__toggle:checked ~ .hamburger__menu > .hamburger:after {
        transform: rotate(45deg);
        top: 8px;
        width: 26px;
        left: 0;
        transition: transform 0.5s linear;
    }

    #hamburger__toggle:checked ~ .hamburger__menu > .hamburger:before {
        transform: rotate(-45deg);
        top: 8px;
        transition: transform 0.5s linear;
    }

    #hamburger__toggle:checked ~ .hamburger__menu > .hamburger {
        width: 0;
        height: 0;
    }

    #hamburger__toggle:checked ~ .navigation-list {
        right: 0;
        transition: right 0.3s linear;
        border: none;
    }

    #hamburger__toggle:checked ~ .navigation-list > .navigation-item {
        width: 100%;
        font-size: 20px;
        justify-content: flex-start;
        padding: 5px;
    }

    #hamburger__toggle:checked ~ .navigation-list > .active {
        background-color: var(--white);
    }

    .stock {
        background-color: var(--white);
        border: none;
    }

    #hamburger__toggle:checked {
        z-index: 4;
    }

    #hamburger, #hamburger:after, #hamburger:before {
        z-index: 3;
    }

    #hamburger__toggle:checked ~ .hamburger__menu {
        z-index: 3;
    }

    .main {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    .main-content {
        margin: 0;
    }

    .feedback-about, .feedback-form {
        padding: 10px;
        width: 100%;
    }

    .main-header {
        font-size: 14px;
        width: auto;
        padding: 5px;
    }

    .row {
        padding: 5px;
    }

    .header-logo {
        width: 32px;
        height: 32px;
    }

    .sile-content-text {
        padding-top: 80px;
    }

    .advantages-list {
        flex-direction: column;
    }

    .swiper {
        height: 299px;
    }

    body {
        overflow-x: hidden;
    }

    .slide-button {
        padding: 6px 10px;
    }

    .slide-price {
        margin-bottom: 18px;
    }

    .advantages, .catalog {
        margin-bottom: 34px;
    }

    .advantages-item {
        width: auto;
        height: auto;
        justify-content: normal;
    }

    .advantage-image {
        width: 100%;
        height: 100px;
        object-fit: cover;
        border-radius: 8px;
    }

    .advantage-name {
        width: 100%;
        font-size: 10px;
    }

    .advantage-price {
        display: none;
    }

    .advantages-list {
        justify-content: normal;
    }

    .catalog-header {
        font-size: 16px;
        padding-left: 5px;
    }

    .catalog-headers-link {
        display: none;
    }

    .catalog-item {
        padding: 5px;
    }

    .catalog-list {
        justify-content: center;
    }

    button.feedback-form-item {
    padding: 14px 0;
    width: 100%;
    }

    .footer {
        padding: 5px;
        flex-direction: column;
    }

    #map {
        width: 288px;
        border-radius: 8px;
    }

    .product-content {
        width: 100%;
        max-width: 100%;
        }

    .about-product{
        flex-direction: column;
        padding: 10px;
        height: fit-content;
    }

    .product-photo {
        width: 288px;
        flex-direction: column;
    }

    .product-photo-image-big {
        width: 320px;
        height: 320px;
    }

    .size-cash-button {
        padding: 15px 32px;
        font-weight: 700;
        margin: 30px auto 0;
    }
    .product-all-photo {
        display: none;
    }
    .catalog-in-product {
        padding: 10px;
        margin-top: 200px;
    }
}

@media (max-width: 380px) {
    .catalog-item {
        width: 320px;
    }

    .product-photo-image-big {
        width: 320px;
        height: 320px;
        margin-left: -8px;

    }
}